<% if (features.length < total_entries) { %>
  <div id="canvas-header">
    Plus de 20 POI ont ete trouve dans la categorie choisie. Veuillez zoomer pour afficher les POIs dans une region.
  </div>
<% } else { %>
  <div id="canvas-header">
    <%= total_entries %> POI ont ete trouve dans la categorie choisie.
  </div>
 <% } %>

<ul class="features">
    <% for(var i=0; i < features.length; i++) { %>
        <li class="<%= i % 2 == 0 ? "odd" : "even" %>" lon="<%= features[i].longitude %>" lat="<%= features[i].latitude %>">
          <a href="#" class="zoom"><%= $.fn.shorten(features[i].label, 35) %></a>
          <a href="#" class="info"><img src="/images/info.png"></a>
          <a href="#" class="zoom"><img src="/images/zoom.png" /></a></li>
    <% } %>
</ul>