<h1>Editing network</h1>

<% form_for(@network) do |f| %>

  <%= f.error_messages %>

  <h3><%= f.label :name %>:</h3>
  <%= f.text_field :name %>

  <h3>Stations:</h3>
  <ul>
    <% @network.radios.each do |radio| %>
      <li><%= radio.name %></li>
    <% end %>
  </ul>

  <div style="margin-top: 20px">
    <h3>Add Station: </h3>
    <%= collection_select(:radio, :id, @radios, :id, :name, :prompt => "") %>
  </div>

  <p class="actions">
    <%= f.submit 'Update' %> <%= link_to 'Show', @network %> | <%= link_to 'Back', network_path %>
  </p>

<% end %>

