<table>
  <tr>
    <th>Name</th>
    <th>Station Count</th>   <th style="width: 50px"></th><th style="width: 50px"></th> 
  </tr>

<% @networks.each do |network| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%=h network.name %></td>
    <td><%=h network.radios.count %></td>
    <td style="width: 40px"><%= link_to 'Edit', edit_network_path(network) %></td>
    <td style="width: 50px"><%= link_to 'Delete', network, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @networks %>
