<h1>Listing Totals</h1>

<table style="width: 500px">
  <tr>
    <th>Name</th>
    <th>Fee</th>
    <th>Station Count</th>
  </tr>

<% @networks.each do |network| %>
  <tr>
    <td><%=h network.name %></td>
    <td><%=h network.name %></td>
    <td><%=h network.radios.count %></td>
    <td><%= link_to 'Show', network %></td>
    <td><%= link_to 'Edit', edit_network_path(network) %></td>
    <td><%= link_to 'Delete', network, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @networks %>

<br />

<div class="actions"><%= link_to 'New network', new_network_path %></div>