<h1>New Network</h1>

<% form_for(@network) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
    <p>
    <%= f.label :fee %><br />
    <%= f.text_field :fee %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', networks_path %>