<h3>Name:</h3>
<%=h @network.name %>

<h3>Note:</h3>
<p><%=h @network.note %></p>

<h3>Fee:</h3>
<%=h @network.fee %>


<h3>Stations:</h3>
<ul style="margin-bottom: 20px">
  <% @network.radios.each do |radio| %>
    <li><%= radio.name %></li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_network_path(@network) %> |
<%= link_to 'Back', network_path %>