<div class="actions" style="margin-top: -17px">
  <% semantic_form_for :s, :url => new_user_path do |form| %>
    <input class="button" style="float: right; width: 160px; margin-top: 15px" type="submit" value="Add New User" />
  <% end %>
</div>

<table>
  <tr>
    <th>Login</th>
    <th>Created</th>
    <th>Last Login</th>
    <th style="width: 50px"></th>
  </tr>

  <% @users.each do |user| %>
    <tr class="<%= cycle("even", "odd") %>">
      <td><%=h user.login %></td>
      <td><%=h user.created_at %></td>
      <td><%=h user.last_login_at %></td>
      <td><%= link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
