<h1>Login</h1>

<% form_for @user do |f| %>
  <%= f.error_messages %>
  <%= f.label :login %><br />
  <%= f.text_field :login %><br />
  <br />
  <%= f.label :password %><br />
  <%= f.password_field :password %><br />
  <br />
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %><br />
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>