<br/>

<table>
  <tr>
    <th>Station</th>
    <th>Partner</th>
    <th>Fee</th>
    <th></th>
  </tr>

<% @partnerships.each do |partnership| %>
   <tr class="<%= cycle("even", "odd") %>">
    <td><%=h partnership.radios[1].name if partnership.radios[1] %></td>
    <td><%=h partnership.radios[0].name %></td>
    <td><%=h partnership.fee %></td>
    <td><%= link_to 'Delete', partnership, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @partnerships %>

<br />

<div class="actions"><%= link_to 'New partnership', new_partnership_path %></div>