<div class="actions" style="margin-top: -17px">
  <% semantic_form_for :s, :url => new_partnership_path do |form| %>
    <input class="button" style="float: right; width: 160px; margin-top: 15px" type="submit" value="Add New Partnership" />
  <% end %>
</div>

<table>
  <tr>
    <th>Station</th>
    <th>Partner</th>
    <th>Fee</th>
    <th></th>
  </tr>

<% @partnerships.each do |partnership| %>
   <tr class="<%= cycle("even", "odd") %>">
    <td><%=h partnership.radios[1].name if partnership.radios[1] %></td>
    <td><%=h partnership.radios[0].name %></td>
    <td><%=h partnership.fee %></td>
    <td><%= link_to 'Delete', partnership, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @partnerships %>
