<h1>Editing station</h1>

<% form_for(@radio) do |f| %>
  <%= f.error_messages %>

  <h3>Fee</h3>
  <%= f.text_field :fee %>

  <h3>Note</h3>
  <%= f.text_area :note, :size => "30x10" %>

  <h3>Name</h3>
  <%= f.text_field :name %>

  <h3>Category</h3>
  <%= select_tag "radio[category]", options_for_select(
            [ "Local & Regional", "National & News", "Digital / Internet", "Irish & ROI", "ILR Buyouts"], @radio.category) %>

  <p class="actions"><%= f.submit 'Update' %><%= link_to 'Show', @radio %> | <%= link_to 'Back', radios_path %></p>
<% end %>

