<h1>Listing Stations</h1>

<table>
  <tr>
    <th>Fee</th>
    <th>Name</th>
    <th>Category</th>
  </tr>

<% @radios.each do |radio| %>
  <tr>
    <td><%=h radio.fee %></td>
    <td><%=h radio.name %></td>
    <td><%=h radio.category %></td>
    <td><%= link_to 'Show', radio %></td>
    <td><%= link_to 'Edit', edit_radio_path(radio) %></td>
    <td><%= link_to 'Delete', radio, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @radios %>

<br />

<div class="actions"><%= link_to 'New station', new_radio_path %></div>
