<h1>New station</h1>

<% semantic_form_for @radio do |f| %>
  <%= f.error_messages %>
  <%= f.input :fee %>
  <%= f.input :name %>
  <%= f.input :note %>
  <%= f.input :category, :as => :select, :collection => @all_categories %>
  <br/>
  <p class="actions"><%= f.submit 'Create' %>&nbsp;&nbsp;&nbsp;<%= link_to 'Back', radios_path %></p>
<% end %>

