<div class="actions" style="margin-top: -17px">
  <% semantic_form_for :s, :url => new_total_path do |form| %>
    <input class="button" style="float: right; width: 160px; margin-top: 15px" type="submit" value="Add New Total" />
  <% end %>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Station Count</th>
    <th>Basic Fee</th>
    <th>Effective Fee</th>
    <th style="width: 50px"></th><th style="width: 50px"></th>
  </tr>

<% @totals.each do |total| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%=h total.name %></td>
    <td><%=h total.radios.count %></td>
    <td><%=h total.basic_fee %></td>
    <td><%=h total.effective_fee %></td>
    <td><%= link_to 'Edit', edit_total_url(total) %></td>
    <td><%= link_to 'Delete', total, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @totals %>
