<h3>Name:</h3>
<%=h @total.name %>

<h3>Note:</h3>
<p><%=h @total.note %></p>

<h3>Stations:</h3>
<ul style="margin-bottom: 20px">
  <% @total.radios.each do |radio| %>
    <li><%= radio.name %></li>
  <% end %>
</ul>

<div class="actions"><%= link_to 'Edit', edit_total_path(@total) %> |
<%= link_to 'Back', total_path %></div>

